@charset "UTF-8";

// setting
@import "fonts";
@import "reset";

html{font-size: 62.5%;}
body{font-size: 1.6rem; font-family: var(--fontFam-noto); background-color: #F1E6DD;}
.inner-con{max-width: 1660px; margin:0 auto;}
#header{
    width: 100%;
    padding-top:60px;
   /*  position: fixed;
    left:0;
    top:0; */
    .inner-con{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    .menu-button{
        display: none;
        width: 30px;
        height: 30px;
        position: relative;
        border:0;
        background-color: transparent;
        z-index: 5;
        cursor: pointer;
        span{
            display: inline-block; width: 100%; height: 1px; background-color: #333;
            position: relative;
            &::before,
            &::after{
                content:'';
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #000;
                position: absolute;
                left:0;
            }
            &::before{top:-8px;}
            &::after{top:8px;}
        }
        
    }
    .logo{width: 195px;}

    .main-menu-wrap{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }

    .menu-wrap{
        display: flex;

        .menu-list{
            min-width: 124px;
            text-align: center;
            position: relative;
            a{text-transform: uppercase;}
        }

        .menu-2depth{
            display: none;
            width: 100%;
            font-size: 1.4rem;
            color:#4d4d4d;
            position: absolute;
            left:0;
            top:30px;

            li{
                padding-top:10px;
                text-transform: capitalize;
            }
        }
    }
    .sns-wrap{ 
        margin-left:20px; margin-top:6px;
        border-left:1px solid #333;
        ul{
            padding-left:30px;
        }
    }
}

.sns-wrap{
    ul{
        display: flex; align-items: center; gap: 14px; justify-content: flex-end;
        li{
            width: 20px;
        }
    }

}

#footer{
    padding-bottom: 110px;
    padding-top: 50px;
    border-top: 1px solid #9a9694;
    .inner-con{
        display: flex;
        justify-content: space-between;
    }
    .ft-info-wrap{
        font-size: 1.4rem;
        h5{font-weight: 700; margin-bottom:15px; font-size: 1.6rem; }
        p{ margin-bottom:15px;}
        img{width: 25px; vertical-align: middle;}
    }
    .ft-logo-wrap{max-width: 194px;}
    .ft-sns-wrap{
        text-align: right;
        .login{text-decoration: underline; text-underline-offset: 5px; margin-bottom: 30px;}
        .copyright{font-size: 1.4rem; color:#7e7a78;}
    }
}


@media (max-width: 1770px){
    .inner-con{width: calc(100% - 100px);}
}
@media (max-width: 1024px){
    #header{
        .menu-button{
            display: block;
           
        }
        #gnb{
            height: 100vh;
            position: fixed;
            left:0;
            top:0;
            background-color: rgba(0,0,0,0.6);
            padding-top:100px;
            color:#fff;
        }
        .menu-wrap{
            flex-direction: column;
            .menu-list{
                
                padding:30px;
                display: flex;
                a{width: 120px;}
            }
            .menu-2depth{
                color:#fff;
                position:static;
                text-align: left;
                li{padding:4px 50px 0;}
            }
        }

        .sns-wrap{border:0;}
    }
    #header.active{
        .menu-button{
            span{
                background-color: rgba(0,0,0,0);
                &::before,
                &::after{
                    background-color:#fff;
                    top:0;

                }
                &::before{
                    transform: rotate(45deg);
                }
                &::after{
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media (max-width: 760px){
    #footer{
        .inner-con{
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .ft-info-wrap{order:3; text-align: center;}
            .ft-logo-wrap{order:1}
            .ft-sns-wrap{
                order:2; text-align: center;
                ul{
                    justify-content: center
                }
            }
        }
    }
}