#main-visual-wrap{
    width: 100%;
    position: relative;
    .slide-list{
        width: 100%;
        color:#fff;
        .swiper-slide{
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            &:nth-child(1){background-image: url('../image/1.jpg');}
            &:nth-child(2){background-image: url('../image/2.jpg');}
            &:nth-child(3){background-image: url('../image/3.jpg');}
            &:nth-child(4){background-image: url('../image/4.jpg');}
            &:nth-child(5){background-image: url('../image/5.jpg');}
            &:nth-child(6){background-image: url('../image/6.jpg');}
            &:nth-child(7){background-image: url('../image/7.jpg');}
            &:nth-child(8){background-image: url('../image/8.jpg');}
            &:nth-child(9){background-image: url('../image/9.jpg');}
            &:nth-child(10){background-image: url('../image/10.jpg');}
            &:nth-child(11){background-image: url('../image/11.jpg');}
            &:nth-child(12){background-image: url('../image/12.jpg');}
            &:nth-child(13){background-image: url('../image/13.jpg');}
            &:nth-child(14){background-image: url('../image/14.jpg');}
            &:nth-child(15){background-image: url('../image/15.jpg');}
        }
    }

    .txt-box{
        position: absolute;
        left:50%;
        top:50%;
        margin-left: -400px;
        z-index: 99;
        color:#fff;
        .title{color: #826847; font-size: 2.0rem; letter-spacing: 1px; font-family: var(--fontFam-lato); text-transform: uppercase; margin-bottom: 30px;}
    }
}
.intro-tit-wrap{
    .content-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:95px 0 75px;
        text-align: center;
        img{width: 175px;}
        h5{
            display: flex;
            font-size: 2.6rem;
            letter-spacing: 10px;
            margin:10px 0;
            &::before{
                content: "[";
                display: block;
                margin-right: 15px;
            }
            &::after{
                content: "]";
                display: block;
                margin-left: 15px;
            }
        }
    }
}