#main-visual-wrap{
    width: 100%;
    .slide-list{
        width: 100%;
        .swiper-slide{
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            &:nth-child(1){background-image: url('../image/1.jpg');}
            &:nth-child(2){background-image: url('../image/2.jpg');}
            &:nth-child(3){background-image: url('../image/3.jpg');}
            &:nth-child(4){background-image: url('../image/4.jpg');}
            &:nth-child(5){background-image: url('../image/5.jpg');}
            &:nth-child(6){background-image: url('../image/6.jpg');}
            &:nth-child(7){background-image: url('../image/7.jpg');}
            &:nth-child(8){background-image: url('../image/8.jpg');}
            &:nth-child(9){background-image: url('../image/9.jpg');}
            &:nth-child(10){background-image: url('../image/10.jpg');}
            &:nth-child(11){background-image: url('../image/11.jpg');}
            &:nth-child(12){background-image: url('../image/12.jpg');}
            &:nth-child(13){background-image: url('../image/13.jpg');}
            &:nth-child(14){background-image: url('../image/14.jpg');}
            &:nth-child(15){background-image: url('../image/15.jpg');}
        }
    }
}